[submodule "next-basic"]
	path = next-basic
	url = git@github.com:abuabdirohman4/next-basic.git
[submodule "next-portfolio"]
	path = next-portfolio
	url = git@github.com:abuabdirohman4/next-portfolio.git
